* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
}

html {
  font-size: 18px;
}

button {
  background-color: #fff;
  cursor: pointer;
}

ul,
ol {
  list-style-type: none;
}

body {
  background-color: transparent;
}

#root {
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 50px 15px;
}
